<!DOCTYPE html>
<html>
{{>head}}
  <body>
    <h1>Create New User</h1>
    <form action="/people" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="avatar" placeholder="Photo URL">
      <input type="text" name="jobTitle" placeholder="Job Title">
      <hr>
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <input type= "submit" name="" value="Create New User">
    </form>
  </body>
  </html>
  
