

      <div class="fl w-50 w-20-ns tc pv5 bg-black-05">
        <article class="bg-white dib v-top ba b--black-10">

         <div class="robot">
            <img class="pic" src={{avatar}} alt="{{name}}">
            <a href="/user/{{id}}" class="link dim lh-title">{{jobTitle}}>{{name}}</a>
            <p>{{job}} - {{company}}</p>
            <small class="gray db pv2" >{{username}} - <time>{{email}}</time></small>

        </div>
      </article>
    </div>
